.grid-template-areas {
  grid-template-areas:
    'header'
    'image'
    'box'
    'table';
}

.grid-area-header {
  grid-area: header;
}

.grid-area-image {
  grid-area: image;
}

.grid-area-box {
  grid-area: box;
}

.grid-area-table {
  grid-area: table;
}

@media screen and (min-width: 768px) {
  .grid-template-areas {
    grid-template-areas:
      'image header box'
      'image table box';
  }
}
