table {
  border-collapse: separate !important;
}

.grid-template-areas {
  display: grid;
  grid-template-areas:
    'header'
    'image'
    'box'
    'table';
  grid-template-rows: 4 (auto);
  gap: 1rem;
  margin-top: 11px;
}

.grid-area-header {
  grid-area: header;
  text-align: center;
}

.grid-area-image {
  grid-area: image;
}

.grid-area-box {
  grid-area: box;
  height: max-content;
  width: 284px;
}

.grid-area-table {
  grid-area: table;
}

@media screen and (min-width: 768px) {
  .grid-template-areas {
    display: grid;
    grid-template-areas:
      'image header box'
      'image table box';
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0;
    margin-top: 80px;
  }

  .grid-area-header {
    text-align: start;
  }
}
